@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face { 
  font-family: "thin"; 
  src: url("../assets/fonts/Urbanist-Thin.ttf"); 
} 
@font-face { 
  font-family: "extralight"; 
  src: url("../assets/fonts/Urbanist-ExtraLight.ttf"); 
}
@font-face { 
  font-family: "light"; 
  src: url("../assets/fonts/Urbanist-Light.ttf"); 
} 
@font-face { 
  font-family: "normal"; 
  src: url("../assets/fonts/Urbanist-Regular.ttf"); 
}
@font-face { 
  font-family: "medium"; 
  src: url("../assets/fonts/Urbanist-Medium.ttf"); 
} 
@font-face { 
  font-family: "semibold"; 
  src: url("../assets/fonts/Urbanist-SemiBold.ttf"); 
}
@font-face { 
  font-family: "bold"; 
  src: url("../assets/fonts/Urbanist-Bold.ttf"); 
} 
@font-face { 
  font-family: "extrabold"; 
  src: url("../assets/fonts/Urbanist-ExtraBold.ttf"); 
}
@font-face { 
  font-family: "blackbold"; 
  src: url("../assets/fonts/Urbanist-ExtraBold.ttf"); 
}